<fieldset class="group" id="webhook-events-list">
    <legend><span>Events</span></legend>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="event_checkbox_1" id="event_checkbox_1" data-event-type="death_star_destroyed_event" />
        <label for="event_checkbox_1">Death star destroyed event</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="event_checkbox_2" id="event_checkbox_2" data-event-type="rebel_captured_event" />
        <label for="event_checkbox_2">Rebel captured event</label>
    </div>
</fieldset>
<div class="field-group">
    <label for="death-star-parameters">Captured/destroyed name</label>
    <input type="text" id="death-star-parameters" />
</div>
