## Rendered when the user doesn't have admin privileges.
<!DOCTYPE html>
<html>
<head>
    <title>403 - Forbidden</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<div class="standalone-message">
    <div class="aui-message warning">
        <p class="title">
            <span class="aui-icon icon-warning"></span>
            <strong>$i18n.getText('auth.config.applink.admin.privileges.required')</strong>
        </p>
    </div>
</div>
</body>
</html>

