<html>
<head>
    <title>$i18n.getText('webhooks.admin.title')</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="admin_system_menu/advanced_menu_section/advanced_section"/>
    <meta name="admin.active.tab" content="webhooks-admin"/>
</head>
<body>
<div class="webhooks">
##    data-event-name-mappings="$action.eventNameMappings" data-all-events-key="$action.allEventsKey" data-no-events-key="$action.noEventsKey">

    <header>
        <nav class="aui-toolbar">
            <div class="toolbar-split toolbar-split-right">
                <ul class="toolbar-group">
                    <li class="toolbar-item">
                        <a id="add-webhook" class="toolbar-trigger" href="#">
                            <span class="icon icon-add16"></span>
                            $i18n.getText('webhooks.admin.add')
                        </a>
                    </li>
                    <li class="toolbar-item">
                        <a id="webhook-help" class="toolbar-trigger" title="$action.getHelpPath('admin.webhooks').getTitle()" href="$action.getHelpPath('admin.webhooks').getUrl()" target="_jirahelp"><span class="aui-icon aui-icon-help"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <p>$i18n.getText('webhooks.admin.description')</p>
    <div class="aui-message info on-webhooks-absent hidden">
        <span class="aui-icon icon-info"></span>$i18n.getText("webhooks.admin.noneconfigured")
    </div>
    <div class="aui-group webhooks-container on-webhooks-present hidden">
        <div class="aui-item webhook-list">
            <table class="aui split-listing aui-table-rowhover event-webhooks">
                <thead>
                <tr>
                    <th>$i18n.getText('webhooks.admin.column.webhooks')</th>
                    <th class="operations"></th>
                </tr>
                </thead>
            #* tbody generated with Backbone View will go here *#
            </table>
        </div>
        <div class="aui-item webhook-details">
            <form action="#" class="aui display-mode-display">
                <h2 id="webhook-name-display" class="display-mode-display"></h2>
                <div id="webhook-global-message" class="error display-mode-edit"></div>
                <div class="field-group display-mode-edit">
                    <label for="webhook-name">$i18n.getText('common.concepts.name')<span class="aui-icon icon-required display-mode-edit"><span>$i18n.getText('AUI.form.label.text.required')</span></span></label>
                    <input id="webhook-name" type="text" class="text full-width display-mode-edit"/>
                    <div class="error display-mode-edit"></div>
                </div>
                <div class="field-group">
                    <label for="webhook-url">$i18n.getText('webhooks.admin.url.label')<span class="aui-icon icon-required display-mode-edit"><span>$i18n.getText('AUI.form.label.text.required')</span></span></label>
                    <input id="webhook-url" type="text" class="text full-width display-mode-edit"/>
                    <div class="error display-mode-edit"></div>
                    <a href="#" id="webhook-url-display" class="field-value display-mode-display"></a>
                </div>

                #foreach($section in $webHookUIRegistry.sections)
                    #foreach($webHookUIItem in $webHookUIRegistry.getItems($section))
                        $webHookUIItem.getHtml()
                    #end
                #end

                <div class="buttons-container left">
                    <div class="buttons display-mode-display">
                        <input id="webhook-edit" type="button" class="button" value="$i18n.getText('common.words.edit')" class="button"/>
                        <a id="webhook-delete" href="#" class="cancel">$i18n.getText('common.words.delete')</a>
                        <a id="webhook-disable" href="#" class="cancel">$i18n.getText('admin.common.words.disable')</a>
                    </div>
                    <div class="buttons display-mode-edit">
                        #parse("/templates/accessKeys.vm")
                        <input id="webhook-submit" class="button submit" type="submit" value="$i18n.getText('common.words.save')" accesskey="${submitAccessKey}" title="${submitTitle}"/>
                        <a id="webhook-cancel" href="#" class="cancel" accesskey="${cancelAccessKey}" title="${cancelTitle}">$i18n.getText('common.words.cancel')</a>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
